<section class="modal modal--scroll bg-snow min-w-[50%]" data-behavior="modal" role="dialog" id="insert_donation_summary_modal">
  <%= modal_header "Insert a donation summary" %>
  <div class="flex flex-col gap-4">
    <div>
      <%= label_tag "insert_donation_summary_start_date", "Start date" %>
      <%= date_field_tag "insert_donation_summary_start_date" %>
    </div>

    <button type="button" class="btn w-fit" onclick="window.dispatchEvent(new Event('tiptap_donationSummary'))">Add</button>
  </div>
</section>
