<div>
  <button data-action="tiptap#bold" type="button" class="border-0 bg-transparent hover:!bg-dark px-2 py-1 rounded-md font-bold">Bold</button>
  <button data-action="tiptap#italic" type="button" class="border-0 bg-transparent hover:!bg-dark px-2 py-1 rounded-md italic">Italic</button>
  <button data-action="tiptap#underline" type="button" class="border-0 bg-transparent hover:!bg-dark px-2 py-1 rounded-md underline">Underline</button>
</div>