<% changes = {
     "submitted"               => ["send", "info", "submitted this report"],
     "rejected"                => ["thumbsdown", "error", "rejected this report"],
     "reimbursement_requested" => ["thumbsup", "success", "approved on behalf of #{@report.event.name}"],
     "reimbursement_approved"  => ["admin", "warning", "approved this report on behalf of the HCB team"],
     "draft"                   => ["docs", "muted", "converted this report to a draft"],
     "draft_created"           => ["plus", "success", "created this draft report"],
     "reimbursed"              => ["docs", "purple", "initiated a reimbursement"],
   } %>
<h2 class="flex items-center">
  <span style="flex-grow: 1">Conversation</span>
</h2>
<article>
  <ul class="list-reset comments mb5">
    <%= render partial: "activity_log/item", collection: @history, as: :item %>
  </ul>
</article>
<article>
  <%= render "comments/form" %>
</article>
