<%# locals: (card_grant:) %>

<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="edit_card_grant">
  <%= modal_header "What's this grant for?" %>
  <%= render "card_grants/edit_form" %>
</section>
