<div data-controller="menu" class="inline-flex items-center" data-menu-append-to-value="turbo-frame#ledger" data-menu-placement-value="bottom-start">
  <button
    type="button"
    class="pop my-2 cursor-pointer tooltipped tooltipped--s"
    aria-label="Add filters..."
    data-menu-target="toggle" data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">
    <%= inline_icon "filter", size: 28 %>
  </button>
  <div class="menu__content menu__content--2 menu__content--compact h5" style="width: 290px; padding: 0.5rem" data-menu-target="content">
    <div data-controller="tabs" data-tabs-default-tab-value="status">
      <button id="status" data-tabs-target="btn" data-action="tabs#select">Status</button>
      <button id="date" data-tabs-target="btn" data-action="tabs#select">Date</button>
      <button id="to" data-tabs-target="btn" data-action="tabs#select">Recipient</button>
      <button id="amount" data-tabs-target="btn" data-action="tabs#select">Amount</button>

      <div data-tabs-target="tab" id="status">
       status
      </div>

      <div data-tabs-target="tab" id="date">
        date
      </div>

      <div data-tabs-target="tab" id="to">
        to
      </div>

      <div data-tabs-target="tab" id="amount">
        amount
      </div>
    </div>
  </div>
</div>
