<div class="mb-3">
  <p class="font-bold mb-2">Push notifications</p>
  <div class="flex gap-3">
    <button class="btn">
      <%= inline_icon "notification" %> Enable on this device
    </button>
    <button class="btn bg-muted">
      Show enabled devices
    </button>
  </div>
</div>