<p>The Hack Club Bank API is an unauthenticated REST API that allows you to read
  public information from organizations with
  <a href='https://changelog.bank.hackclub.com/transparent-finances-(optional-feature)-151427'>
    Transparency Mode
  </a>
  enabled.
</p>
<p>
  <strong>Questions or suggestions?</strong>
  <br>
  Reach us in the #bank channel on the
  <a href='https://hackclub.com/slack'>Hack Club Slack</a>
  or email <a href='mailto:bank@hackclub.com'>bank@hackclub.com</a>.
</p>
<p>Happy hacking! ✨</p>

<%# TODO: Add docs about expanding types %>
