<div id="application_response_stream" class="flex flex-col items-center justify-center h-full pt-8">
  <%= image_tag "party-orpheus.svg", alt: "Dinosaur partying", class: "w-1/2 max-h-80" %>

  <p class="h1 font-bold">Thanks for applying!</p>
  <p class="h3 text-center w-2/3" style="text-wrap: balance;">We’ll review your application and get back to you within two business days.</p>

  <% if params[:ref] == "site" %>
    <%= link_to "https://hackclub.com/fiscal-sponsorship", class: "btn flex items-center g1 no-underline" do %>
      <%= inline_icon "view-back" %>
      Back to hackclub.com
    <% end %>
  <% end %>
</div>
