<% title "Organization updates" %>
<% page_md %>
<%= render "nav", selected: :announcements %>

<h1 class="heading">
  <span class="flex flex-grow items-center">Announcements</span>

  <% if organizer_signed_in?(as: :manager) %>
    <%= link_to event_announcements_new_path(event_id: @event.slug), class: "btn bg-success", data: { behavior: "modal_trigger", modal: "create_announcement" } do %>
      <%= inline_icon "plus" %>
      Create
    <% end %>
  <% end %>
</h1>

<% if organizer_signed_in? %>
  <%= render "announcement_modal" %>
<% end %>