<p>
  Hey team,
</p>

<p>
  <%= @report.user.name %> has submitted <%= link_to @report.name, @report %> for your review. You can now go through the report, approve the expense you'd like to reimburse and, when you're ready,
</p>

<p>
  Thanks,
  <br><br>
  The HCB Team
</p>
