<%= turbo_stream.remove tag_dom_id(hcb_code, tag) %>
<%= turbo_stream.update_all tag_dom_class(hcb_code, tag, "_toggle"), "<div class=\"w-3 h-3 rounded-full bg-gray-300 dark:bg-gray-700 mr-2\" style=\"background:#{tag.color}\"></div> #{tag.label}" %>
