<div class="card card--breakdown shadow-none p-0 flex-1 flex flex-col">
  <h3 class="m-0 p-4 pb-0 mb-1">Cards</h3>
  <% @cards.each do |card| %>
    <div class="flex items-center gap-4 py-2 px-4">
      <div class="h-7 w-10 bg-gray-200 rounded-sm"></div>
      <%= card.stripe_brand %>
    </div>
  <% end %>

  <%= link_to event_cards_overview_path(event_id: @event.slug), class: "flex items-center mt-auto px-4 pb-2" do %>
    View all
    <%= inline_icon "enter" %>
  <% end %>
</div>