<dl class="card m-0 w-100 h-full p-4 flex flex-1 flex-col gap-4 justify-center">
  <div class="stat stat--small flex flex-col">
    <dt class="muted uppercase text-sm font-bold">Total raised</dt>
    <dd class="stat__value"><%= render_money_amount @event.total_raised %></dd>
  </div>
  <div class="stat stat--small flex flex-col">
    <dt class="muted uppercase text-sm font-bold">Total spent</dt>
    <dd class="stat__value"><%= render_money_amount @event.total_raised - @event.balance %></dd>
  </div>
</dl>
