#balance-chart {
  pointer-events: all;
  margin: 0 -1rem -1rem -20px;
}

.sparkline--up {
  stroke: $green;
  &.sparkline--filled {
    fill: rgba($green, 0.3);
  }

  opacity: 35% !important;
  &:hover {
    opacity: 75% !important;
  }
}

.sparkline--down {
  stroke: $red;
  &.sparkline--filled {
    fill: rgba($red, 0.3);
  }
}
