input[type='submit'],
.btn {
  -webkit-appearance: none;
  border: 0;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-border);
  background-color: $white;
  color: $black;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  height: 36px;
  letter-spacing: 0;
  overflow: hidden;
  padding: 0 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  transition:
    box-shadow 0.125s ease-in-out,
    background-color 0.125s ease-in-out,
    color 0.125s ease-in-out;

  &:hover,
  &:focus,
  &[aria-expanded='true'] {
    box-shadow:
      var(--shadow-border-md),
      inset 0 0 0px 0.5px rgba(0, 0, 0, 0.1);
    background: darken($white, 5%);
  }

  &:focus-visible {
    box-shadow:
      inset 0 0 0 0.5px map-get($palette, info),
      0 0 0 3px rgba(map-get($palette, info), 0.25) !important;
  }

  &:not([class*='bg-']):not([type='submit']) {
    box-shadow: var(--shadow-border);

    &:hover,
    &:focus,
    &[aria-expanded='true'] {
      box-shadow:
        var(--shadow-border-md),
        inset 0 0 0px 0.5px rgba(0, 0, 0, 0.15);
    }
  }

  &.disabled,
  &[disabled='disabled'],
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  svg {
    width: 24px;
    height: 24px;
    opacity: 0.875;
  }

  > svg {
    &:first-child {
      margin-left: -4px;
      margin-right: 6px;
    }

    &:not(:first-child)[aria-label='down-caret'] {
      margin-left: 6px;
      margin-right: -4px;
    }
  }

  &.bg-primary {
    background-color: map-get($palette, primary);
    color: $white;

    &:hover {
      background-color: darken(map-get($palette, primary), 5%);
    }

    &:active,
    &:focus {
      background-color: darken(map-get($palette, primary), 10%);
    }
  }

  &.bg-smoke {
    background-color: lighten(map-get($palette, smoke), 3%);
    color: darken(map-get($palette, smoke), 50%) !important;

    html[data-dark='true'] & {
      background-color: darken(map-get($palette, slate), 13%);
      color: lighten(map-get($palette, slate), 50%) !important;
    }
  }

  &.bg-muted {
    background-color: map-get($palette, muted);
    color: $white;
  }

  &.bg-warning {
    background-color: map-get($palette, warning);
    color: $white;

    html[data-dark='true'] & {
      color: darken(map-get($palette, warning), 33.3%) !important;
    }
  }

  &.bg-purple {
    @include gradient(purple);
    color: $white;

    &:hover {
      background: darken(map-get($palette, purple), 5%);
    }
    &:active,
    &:focus {
      background: darken(map-get($palette, purple), 10%);
    }
  }

  &.bg-slate {
    @include gradient(slate);
    color: $white;

    &:hover {
      background: darken(map-get($palette, slate), 5%);
    }
    &:active,
    &:focus {
      background: darken(map-get($palette, slate), 10%);
    }
  }

  &.bg-ai {
    @include gradient(ai);
  }

  &.bg-success {
    background-color: map-get($palette, success);
    color: darken(map-get($palette, success), 40%) !important;

    &:hover {
      background-color: darken(map-get($palette, success), 5%);
    }

    &:active,
    &:focus {
      background-color: darken(map-get($palette, success), 10%);
    }
  }

  &.bg-accent {
    background-color: map-get($palette, accent);
    color: darken(map-get($palette, accent), 50%);

    &:hover {
      background-color: darken(map-get($palette, accent), 5%);
    }
    &:active,
    &:focus {
      background-color: darken(map-get($palette, accent), 10%);
    }
  }

  &.bg-error,
  &.btn--destroy {
    transition:
      box-shadow 0.125s ease,
      background-color 0.125s ease;
    background-color: map-get($palette, white) !important;
    color: map-get($palette, error) !important;

    &:hover {
      background-color: rgba(map-get($palette, primary), 0.125) !important;
    }
  }
}

.btn.bg-info,
input[type='submit'] {
  background-color: map-get($palette, info);
  color: $white !important;

  &:hover {
    background-color: darken(map-get($palette, info), 5%);
  }

  &:active,
  &:focus {
    background-color: darken(map-get($palette, info), 10%);
  }
}

.btn-small {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.75;
  padding: 0.25rem 1rem;
}

form .flex-auto + input[type='submit'] {
  height: 2.5rem;
}

.btn-group {
  display: inline-flex;
  align-items: center;

  @media (max-width: 32em) {
    .btn {
      margin-right: 8px;
    }

    &:not(.btn-group--no-wrap) {
      flex-wrap: wrap;

      .btn {
        margin-bottom: 8px;
      }
    }

    &.center {
      justify-content: center;
      .btn {
        margin: 8px;
      }
    }
  }

  @media (min-width: 32em) {
    border-radius: var(--radius-md);

    .btn:first-child {
      border-radius: var(--radius-md) 0 0 var(--radius-md);
    }
    .btn {
      border-radius: 0;
      margin: 0;
    }
    .btn:last-child {
      border-radius: 0 var(--radius-md) var(--radius-md) 0;
    }
  }
}
