.dock {
  flex-direction: column;

  display: flex;
  width: 100%;
  max-width: 100%;

  hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  @media (min-width: 768px) {
    flex-direction: column;
    .dock__overflow {
      display: none;
    }
  }
}

details.dock {
  & * {
    display: flex;
    flex-wrap: nowrap;
  }

  & summary.dock__item {
    color: unset !important;
    background-color: unset !important;
    cursor: pointer;
  }

  & > a {
    margin-left: 28px;
  }

  &[open] {
    padding-bottom: 2rem;
  }
}

summary > svg {
  fill: map-get($palette, muted);
  height: 28px;
}

details > summary > .drawer-chevron {
  transform: rotate(90deg);
}
details[open] > summary > .drawer-chevron {
  transform: rotate(180deg);
}

.drawer-chevron {
  transition: transform 0.2s;
}

.hide__pwa__prompt .pwa__prompt {
  display: none !important;
}

.pwa__prompt__hide {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.pwa__prompt {
  display: none;
  @supports (-webkit-touch-callout: none) {
    display: block;
  }
  @media (min-width: 768px) {
    display: none !important;
  }
  flex: 1 0 100%;
  background: #ec3750;
  padding: 8px 16px;
  text-align: center;
  color: white;
  margin-bottom: -16px;
}

.pwa__prompt > b {
  font-weight: 600;
}

.pwa__prompt__icon {
  transform: translateY(2.5px);
}

.dock__section {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: map-get($palette, muted);
  margin: 1.2rem 0 0.25rem 0;
  line-height: 1.5;

  &:empty {
    display: none;
  }
}

.dock__item {
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
  display: inline-flex;
  align-items: center;
  overflow: visible;
  padding: 0.5rem 1.5rem 0.5rem 0.75rem;
  margin: 0 0 0 -0.75rem;
  gap: 0.75rem;

  svg {
    fill: map-get($palette, muted);
    height: 28px;
  }

  &.dock__item--selected svg {
    fill: map-get($palette, primary);
  }

  @media (min-width: 768px) {
    border-radius: 0.75rem;
    cursor: pointer;
    line-height: 1.75;
    outline: 0;
    transition:
      color 0.125s ease-in-out,
      background-color 0.125s ease-in-out;
    width: fit-content;

    .dock__item--badge {
      transition: box-shadow 0.125s ease-in-out;
    }

    &:hover,
    &:focus,
    &:active {
      color: map-get($palette, white) !important;
      background-color: rgba(map-get($palette, primary), 0.25);

      .dock__item--badge {
        box-shadow: 0 0 0 2px mix(map-get($palette, primary), $snow, 25%);

        html[data-dark='true'] & {
          box-shadow: 0 0 0 2px mix(map-get($palette, primary), $dark, 25%);
        }
      }
    }
  }

  span {
    color: $black;
  }

  @media (max-width: 768px) {
    span {
      color: #fff;
    }
  }

  &.dock__item--selected span {
    color: map-get($palette, primary) !important;
  }

  .dock__item--badge {
    position: absolute;
    top: -0.3125rem;
    right: 0.3125rem;
    @media (max-width: 32em) {
      right: calc(0.3125rem - 0.5rem);
    }
    line-height: initial;
    color: white;
    font-size: 0.75rem;
    font-variant-numeric: tabular-nums;
    min-width: 1rem;
    min-height: 1rem;
    text-align: center;
    box-shadow: 0 0 0 2px $snow;
    border-radius: 999px;
    background-color: map-get($palette, primary);
    padding: 0 0.2rem;

    html[data-dark='true'] & {
      box-shadow: 0 0 0 2px $dark;
    }
  }

  &.disabled {
    color: map-get($palette, muted);
    cursor: not-allowed;
  }
}

.dock__overflow {
  margin: 0 0.5rem;
}

.event-title-dropdown-icon {
  opacity: 0;
  transform: translateY(-2px);
  transition: 0.125s ease-in-out;
  transition-property: opacity, transform;
}

.event-title:hover .event-title-dropdown-icon,
.event-title[aria-expanded='true'] .event-title-dropdown-icon {
  opacity: 1;
  transform: none;
}
