.filterbar {
  box-shadow: var(--shadow-border);
  border-radius: var(--radius-md);

  @media (max-width: 32em) {
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
  }
}

.pagination a,
.filterbar__item {
  border-radius: var(--radius-md);
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  padding: 0.25rem 0.75rem;
  position: relative;
  text-decoration: none;
  outline-color: map-get($palette, info);
  transition:
    color 0.125s ease-in-out,
    background-color 0.125s ease-in-out,
    box-shadow 0.125s ease-in-out;

  &:hover, &:focus {
    color: map-get($palette, slate);
    background-color: map-get($palette, white);
    box-shadow: var(--shadow-border-xs);
  }

  &[aria-current='page'],
  &[aria-selected='true'] {
    color: map-get($palette, slate);
    background-color: map-get($palette, white);
    box-shadow: var(--shadow-border-md);
    z-index: 1;

    &:hover, &:focus {
      box-shadow: var(--shadow-border-lg), inset 0 0 0px 0.5px rgba(0, 0, 0, 0.1);
    }
  }
}
