[data-tabs-target='btn'] {
  background: transparent;
  border: none;
  margin-top: -0.25rem;
  margin-bottom: -0.5rem;
  height: 32px;
  border-radius: var(--radius-sm);
  padding: 0 0.33rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: inherit;
  font-weight: 500;
  transition: background-color 0.125s ease;

  &:hover {
    background-color: rgba(200, 200, 200, 0.2);
  }

  &:active {
    background-color: rgba(200, 200, 200, 0.3);
  }

  &.active {
    color: map-get($palette, info);
    font-weight: 700;
  }
}

.menu__divider--filter-tab {
  @extend .menu__divider;
  margin-top: 0 !important;
  margin-bottom: 0.5rem !important;
}
