.user-menu-trigger {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: 0;
  padding: 0;
  border-radius: 4px;
  flex: 1;
  gap: 0.75rem;
  font-weight: 600;
  color: inherit;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2.5rem;
  max-width: 64rem;
}

.container--full {
  max-width: none;
  padding: 0px;
}

.container--xl {
  max-width: 72rem;
}

.container--md {
  max-width: 64rem;
}

.container--sm {
  max-width: 56rem;
}

.container--xs {
  max-width: 28rem;
}

.app__content {
  h1:first-child {
    margin-top: 1.75rem;
  }
}

.grid {
  display: grid;
  grid-gap: 1rem;
  width: 100%;

  > a {
    color: inherit;
    text-decoration: none;
  }
}

.list-reset,
ul.grid,
ul.mixed-grid {
  list-style: none;
  padding-left: 0;
}

.mixed-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;

  @media (min-width: 32em) {
    .comment__name {
      margin-left: 0;
      margin-top: 0;
    }
  }

  a {
    text-decoration: none;
  }

  p {
    margin: 0;
  }
}

@media screen and (min-width: 32em) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

    .comment__name {
      margin-left: 0;
      margin-top: 0;
    }
  }

  .grid--narrow {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .grid--medium-narrow {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .grid--wide {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .grid--split {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--spacious {
    grid-gap: 2rem;
  }

  .grid__fill {
    grid-column: -1 / 1;
  }
}
