.container {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.container--xl {
  max-width: 96rem;
}
.container--md {
  max-width: 56rem;
}
.container--sm {
  max-width: 32rem;
}
.container--xs {
  max-width: 24rem;
}

.app {
  max-width: none;
  overflow: clip;
  height: 100svb;
  padding: 0.5rem;

  @media (min-width: 56em) {
    display: grid;
    grid-template-columns: 13rem 1fr;
    gap: 1rem;
  }

  @media (min-width: 72em) {
    grid-template-columns: 16rem 1fr;
  }

  @media (min-width: 84em) {
    grid-template-columns: 18rem 1fr;
  }
}
.app__sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  z-index: 2;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

.app__content {
  scrollbar-gutter: auto;
  overflow-y: auto;
  padding: 1rem 1rem 2rem;
  z-index: 1;

  h1:first-child {
    margin-top: 0rem;
    text-box-trim: both;
    text-box-edge: cap alphabetic;
  }

  > .container {
    padding-inline: 0 !important;
  }
}

.grid {
  display: grid;
  grid-gap: 1rem;
  width: 100%;

  > a {
    color: inherit;
    text-decoration: none;
  }
}

.list-reset,
ul.grid,
ul.mixed-grid {
  list-style: none;
  padding-left: 0;
}

.mixed-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;

  @media (min-width: 32em) {
    .comment__name {
      margin-left: 0;
      margin-top: 0;
    }
  }

  a {
    text-decoration: none;
  }

  p {
    margin: 0;
  }
}

@media screen and (min-width: 32em) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

    .comment__name {
      margin-left: 0;
      margin-top: 0;
    }
  }

  .grid--narrow {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .grid--medium-narrow {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .grid--wide {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .grid--split {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--spacious {
    grid-gap: 2rem;
  }

  .grid__fill {
    grid-column: -1 / 1;
  }
}
