@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .banner-container:not(:has(*)) {
    display: none;
  }

  .sidebar {
    @apply fixed top-0 left-0 w-screen lg:w-72 lg:h-screen flex items-center lg:items-start lg:flex-col
      overflow-x-visible border border-x-0 lg:border-r lg:border-b-0 lg:border-l-0
      backdrop-blur-xl z-10 lg:shadow-lg;

    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(200, 200, 200, 0.3) !important;
    border-top-width: 0px;

    [data-dark='true'] & {
      border-color: rgba(200, 200, 200, 0.1) !important;
      background-color: rgba(37, 36, 41, 0.5);

      & hr {
        background: rgba(200, 200, 200, 0.3) !important;
      }
    }

    & .command-bar-trigger {
      @apply h-10 shadow-none w-100 justify-start px-3 hover:shadow-none hidden md:flex bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-600 border-none flex items-center cursor-pointer;
      color: inherit;
      font-size: 15px;

      & .key {
        background: rgba(200, 200, 200, 0.3);
      }
    }

    @media (max-width: 1024px) {
      height: 64px;
    }

    .sidebar--scroll-container {
      @apply flex-1 overflow-y-auto scrollbar-hidden pointer-events-none flex items-center lg:items-start w-full outline-none;

      @media (min-width: 1024px) {
        width: 70vw;
      }
    }
  }

  .mobile-nav {
    @apply lg:hidden fixed bottom-0 left-0 w-full p-10 z-10 flex justify-center pointer-events-none;

    & .mobile-nav--trigger {
      @apply rounded-full bg-gray-800 text-white px-5 py-3 max-w-full flex items-center pointer-events-auto gap-3 active:scale-90 transition-transform cursor-pointer;
      width: 300px;
    }
  }

  .mobile-nav--modal {
    @apply lg:invisible modal modal--scroll modal--popover p-3 bg-transparent shadow-none;
    height: auto !important;
    max-height: 80vh !important;
  }
}

.user-menu-trigger {
  display: flex;
  align-items: center;
  border: 0;
  flex: 1;
  gap: 0.5rem;
  padding: 0.5rem;
  font-weight: 600;
  color: inherit;
  background-color: transparent;
  font-size: 15px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 64rem;
}

.container--full {
  max-width: none;
  padding: 0px;
}

.container--xl {
  max-width: 72rem;
}

.container--md {
  max-width: 64rem;
}

.container--sm {
  max-width: 56rem;
}

.container--xs {
  max-width: 28rem;
}

.app__content {
  h1:first-child {
    margin-top: 1.75rem;
  }
}

.grid {
  display: grid;
  grid-gap: 1rem;
  width: 100%;

  > a {
    color: inherit;
    text-decoration: none;
  }
}

.list-reset,
ul.grid,
ul.mixed-grid {
  list-style: none;
  padding-left: 0;
}

.mixed-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;

  @media (min-width: 32em) {
    .comment__name {
      margin-left: 0;
      margin-top: 0;
    }
  }

  a {
    text-decoration: none;
  }

  p {
    margin: 0;
  }
}

@media screen and (min-width: 32em) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

    .comment__name {
      margin-left: 0;
      margin-top: 0;
    }
  }

  .grid--narrow {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .grid--medium-narrow {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .grid--wide {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .grid--split {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--spacious {
    grid-gap: 2rem;
  }

  .grid__fill {
    grid-column: -1 / 1;
  }
}
