div#main:has(.task) {
  overflow: visible;
}

div#tasks-parent {
  overflow: visible;
}

.task {
    border-radius: 12px;
    border: 2px solid $smoke;

    &:not([open]) {
        .task__header {
            border-bottom: none;
            border-radius: 12px;

            .task__icon--caret {
                transform: scale(1.2);
            }
        }
    }

    & .task__header {
        padding: 0.8rem;
        border-bottom: 2px solid $smoke;
        background-color: $snow;
        border-radius: 12px 12px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 0.6rem;

        & .task__icon {
            transform: scale(1.2);
        }

        .task__icon--caret {
            transform: scale(1.2) rotate(180deg);
        }

        & h3 {
            margin: 0px;
            padding: 0px;
            font-size: 1.2rem;
            border: none;
            font-weight: 300;

            & strong {
                &:first-child {
                    font-weight: 600;
                    margin-left: 0px;
                }

                font-weight: 500;
                margin-left: 0.1rem;
                margin-right: 0.1rem;
            }
        }
    }

    & .task__body {
        padding: 0.8rem;
        background-color: $white;
        border-radius: 0 0 12px 12px;
    }

    & .avatar-row img {
        margin: 0px;
    }

    & kbd {
        background-color: #c3c6cb36;
        border: none;
        border-radius: 6px;
        padding: 0rem 0.4rem;
        font-size: 1rem;
        font-weight: 400;
        font-family: inherit;
        margin: 0rem 0.3rem;

        &:last-child {
            margin: 0px;
        }

        &:first-child {
            margin-left: 0px;
        }
    }
}


:has(> .task__tooltip) {
    position: relative;
  
  &:hover,
  &:active,
  &:focus {
    background: rgba(map-get($palette, muted), 0.2);

    .task__tooltip {
    opacity: 1;
    z-index: 9;
    backdrop-filter: blur(2px);

    }
  }

}

    .task__tooltip {
      & {
        background-color: rgba(map-get($palette, white), 0.875);
        border-radius: 0.5rem;
        box-shadow:
          0 0 2px 0 rgba(0, 0, 0, 0.0625),
          0 4px 8px 0 rgba(0, 0, 0, 0.125);
        color: map-get($palette, black);
        font-family: $font-family;
        font-size: 0.875rem;
        font-weight: 500;
        height: min-content;
        letter-spacing: 0;
        line-height: 1.375;
        max-width: 24rem;
        min-height: 1.25rem;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 100%;
        text-align: center;
        transform: translateY(50%);
        transition: 0.125s all ease-in-out;
        width: max-content;
        z-index: 9999;
  
        &.task__tooltip--lg {
          max-width: 24rem;
        }
      }
  
      &:hover,
      &:active,
      &:focus {
        opacity: 1;
        z-index: 9;
        backdrop-filter: blur(2px);
      }
    }
  
    .task__tooltip--e {
      left: 100%;
      bottom: 50%;
      right: 0;
      margin-left: 0.5rem;
      transform: translateY(50%);
    }
  
    .task__tooltip--w {
      right: 100%;
      bottom: 50%;
      margin-right: 0.5rem;
      transform: translateY(50%);
    }
  
    .task__tooltip--n {
      right: 50%;
      bottom: 100%;
      margin-bottom: 0.5rem;
      transform: translateX(50%);
    }
  
    .task__tooltip--s {
      right: 50%;
      top: 100%;
      margin-top: 0.5rem;
      transform: translateX(50%);
    }
  
    .task__tooltip--xl {
      & {
        max-width: none;
      }
    }
