/*! Basscss | http://basscss.com | MIT License */
.h1 {
  font-size: 2rem;
}
.h2 {
  font-size: 1.5rem;
}
.h3 {
  font-size: 1.25rem;
}
.h4 {
  font-size: 1rem;
}
.h5 {
  font-size: 0.875rem;
}
.h6 {
  font-size: 0.75rem;
}
.text-decoration-none {
  text-decoration: none;
}
.bold,
.semibold {
  font-weight: 600;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
.left-align {
  text-align: left;
}
.center {
  text-align: center;
}
.right-align {
  text-align: right;
}
.justify {
  text-align: justify;
}
.nowrap {
  white-space: nowrap;
}
.line-height-1 {
  line-height: 1;
}
.line-height-2 {
  line-height: 1.125;
}
.line-height-3 {
  line-height: 1.25;
}
.line-height-4 {
  line-height: 1.5;
}
.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-reset {
  list-style: none;
  padding-left: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.fit {
  max-width: 100%;
}
.max-width-1 {
  max-width: 24rem;
}
.max-width-2 {
  max-width: 32rem;
}
.max-width-3 {
  max-width: 48rem;
}
.max-width-4 {
  max-width: 64rem;
}
.flex-auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 32em) {
  .md-right {
    float: right;
  }
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.border {
  border-style: solid;
  border-width: 1px;
  border-width: 0.5px;
}
.border-top {
  border-top-style: solid;
  border-top-width: 0.5px;
}
.border-right {
  border-right-style: solid;
  border-right-width: 0.5px;
}
.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
}
.border-left {
  border-left-style: solid;
  border-left-width: 0.5px;
}
.border-none {
  border: 0;
}
.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
@media (max-width: 32em) {
  .xs-hide {
    display: none !important;
  }
}
@media (min-width: 32em) and (max-width: 48em) {
  .sm-hide {
    display: none !important;
  }
}
@media (min-width: 48em) and (max-width: 64em) {
  .md-hide {
    display: none !important;
  }
}
@media (min-width: 64em) {
  .lg-hide {
    display: none !important;
  }
}
.display-none {
  display: none !important;
}
.h-fit-content {
  height: fit-content;
}
