.h0 {
  font-size: 3rem;
}
.h1 {
  font-size: 2rem;
}
.h2 {
  font-size: 1.5rem;
}
.h3 {
  font-size: 1.25rem;
}
.h4 {
  font-size: 1rem;
}
.center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.fit {
  max-width: 100%;
}
.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
@media (max-width: 32em) {
  .xs-hide {
    display: none !important;
  }
}
@media (min-width: 32em) and (max-width: 48em) {
  .sm-hide {
    display: none !important;
  }
}
@media (min-width: 48em) and (max-width: 64em) {
  .md-hide {
    display: none !important;
  }
}
@media (min-width: 64em) {
  .lg-hide {
    display: none !important;
  }
}
.display-none {
  display: none !important;
}
