.h0 {
  font-size: 3rem;
}
.h1 {
  font-size: 2rem;
}
.h2 {
  font-size: 1.5rem;
}
.h3 {
  font-size: 1.25rem;
}
.h4 {
  font-size: 1rem;
}
.h5 {
  font-size: 0.875rem;
}
.h6 {
  font-size: 0.75rem;
}
.text-decoration-none {
  text-decoration: none;
}
.bold,
.semibold {
  font-weight: 600;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
.left-align {
  text-align: left;
}
.center {
  text-align: center;
}
.right-align {
  text-align: right;
}
.justify {
  text-align: justify;
}
.nowrap {
  white-space: nowrap;
}
.line-height-1 {
  line-height: 1;
}
.line-height-2 {
  line-height: 1.125;
}
.line-height-3 {
  line-height: 1.25;
}
.line-height-4 {
  line-height: 1.5;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: none;
}
.list-reset {
  list-style: none;
  padding-left: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.fit {
  max-width: 100%;
}
.max-width-1 {
  max-width: 24rem;
}
.max-width-2 {
  max-width: 32rem;
}
.max-width-3 {
  max-width: 48rem;
}
.max-width-4 {
  max-width: 64rem;
}
.flex-auto {
  min-width: 0;
  min-height: 0;
}
@media (min-width: 32em) {
  .md-right {
    float: right;
  }
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z4 {
  z-index: 4;
}
.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
@media (max-width: 32em) {
  .xs-hide {
    display: none !important;
  }
}
@media (min-width: 32em) and (max-width: 48em) {
  .sm-hide {
    display: none !important;
  }
}
@media (min-width: 48em) and (max-width: 64em) {
  .md-hide {
    display: none !important;
  }
}
@media (min-width: 64em) {
  .lg-hide {
    display: none !important;
  }
}
.display-none {
  display: none !important;
}
.display-none-not-important {
  display: none;
}
.h-fit-content {
  height: fit-content;
}
