<span class="eyebrow px-1.5 mt-2 mb-0 sm:mt-0 block">Theme</span>

<% %w[system dark light].each do |theme| %>
  <a data-dark-mode-toggle-target="toggle" data-value="<%= theme %>">
    <%= theme.humanize %>
    <%= inline_icon "check", class: "hidden ml-auto", size: 24, style: "margin-right: -5px" %>
  </a>
<% end %>
