<% title "My feed" %>
<% page_md %>
<%= render "users/nav", selected: :feed %>

<h1 class="heading flex items-center">
  <span class="flex-grow">Feed</span>
  <%= link_to nil, class: "btn bg-blue flex" do %>
    <%= inline_icon "settings" %>
    Manage
  <% end %>
</h1>
